.logo-banner {
    width: 15rem;
    height: 4rem;
}

.link-dark {
    text-decoration: none;
}

button {
    white-space: normal;
}

.zoom-on {
    transition: transform .2s;
}

.zoom-on:hover {
    transform: scale(1.05);
    border: 1px solid black;
    z-index: 9;
}

.product-img {
    height: 250px;
}

.bg-toast-success {
    background-color: #DDFFD7;
}

@media screen and (min-width: 576px) {
    .product-img {
        height: 250px;
    }
}

@media screen and (min-width: 768px) {
    .product-img {
        height: 300px;
    }
}

@media screen and (min-width: 992px) {
    .product-img {
        height: 350px;
    }
}

@media screen and (min-width: 1200px) {
    .product-img {
        height: 450px;
    }
}